.rings {
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
    float: left;
}

.time {
    height: auto;
    width: auto;
    font-family: 'Oxanium';
    font-size: 20vw;
  	color: white;
    text-shadow: 2px 2px black;
    float: left;
    padding-top: 2vw;
}